extends baseEmail

block content
  p Hi #{ firstName },
  p Your dealership application is currently pending. We will review your application and get back to you shortly.
  p Thank you for your patience.
  p - The Auto Lease Team
