extends baseEmail

block content
  p Hi #{ firstName },
  p As part of our security measures, please use the One-Time Password (OTP) below to complete your sign-in process for your Auto Lease account:
  p
    strong #{ otp }
  p If you did not attempt to sign in, contact our support team.
  p Thank you for being part of Auto Lease!
  p Best regards,
  p The Auto Lease Team
