extends baseEmail

block content
  p Hi #{ firstName },

  if createdByAdmin
    p Congratulations! Your dealership has been created by one of our administrators 🎉
    p We're excited to have you onboard at Auto Lease. You can start managing your dealership and adding cars right away.
  else
    p Congratulations! Your dealership application has been approved 🎉
    p Welcome to Auto Lease, we're thrilled to have you as part of our family.

  p To manage your dealership and start adding cars, please visit your dealership page using the link below:
  table.btn.btn-primary(role="presentation")
    tbody
      tr
        td
          table(role="presentation")
            tbody
              tr
                td
                  a(href=`${url}`, target="_blank") Go to Your Dealership Page
  p If you need any assistance, please don't hesitate to contact us.
  p - The Auto Lease Team
